@import "compass/css3";

@import "base/normalize";
@import "base/print";

@import "helper/mix";
@import "pages/variable";

//core
@import "core/grid";
@import "core/table";
@import "core/form";
@import "core/button";

//component
@import "component/nav";
@import "component/button-group";
@import "component/list-group";
@import "component/panel";
@import "component/alert";
@import "component/close";
@import "component/dialog";
@import "component/dropdown";
@import "component/loading";
@import "component/tip";
@import "component/tab";

* {box-sizing:border-box;}
body,html { width:100%;height:100%;}
.g-doc { height: 100%; position: relative;}
.g-side { position:fixed; top:0; left:0; bottom:0;}
.g-main { position:absolute; right:0; top:0; bottom:0;}
